body{
    padding-top:3%;
    background: url(img/background.jpg);
}

.main-container{
    background: url(1.png);
    background-size: 100%;
    margin-left:auto;
    margin-right: auto;
    width: 826.667px;
    padding-top:5%;
    padding-bottom: 3%;
    box-shadow: 5px 8px 15px rgb(100,100,100);
}

.content{
    margin-left:6.05%;
    margin-right:5.64%;
}

.header-panel{
    margin-bottom:20px;
}

.header-label, .header-left-column{
    background-color: #ef4541;
    height: 152.67px;
}

.header-label{  
    margin-left:-50px;
    float:left;
    width: 50px; 
}

.header-left-column{
    float: left;
    width:37.54%;
}

.header-center-column{
    float:left;
    margin-left:2%;
}

.header-image{
    margin-top:13px;
    background: white;
    width: 132.67px;
    height: 126px;
}

.header-space{
    display: inline-block;
    height: 85px;
    width: 100%;
}


.header-info{
    float:left;
    width:60%;
}

.header-center-column h1{
    margin:0px;
    font-family: Arial, 'Myriad Pro Bold', sans-serif;
    font-size: 34px;
    font-weight: bold;
}

.header-center-column h2{
    margin: 0px;
    font-family: Verdana, 'Myriad Pro Light', sans-serif;
    font-size: 22.6px;
    color: #ef4541;
    font-weight: 100;
}

.panel{
    margin-bottom:30px;
}

.left-panel, .header-panel-sign{
    float: left;
    width:55.7587%;
}

.right-panel, .header-right-column{
    float: left;
    margin-left:6.033%;
    width:38.2%;
}

.panel-header{
    padding:3px 0px 3px 12px;
    background: #dbdbdb;
}

.panel-header h6{
    margin: 0px;
}

.panel-content p{
    margin-top:3px;
}

.about-text, .panel-header h6, .property-label, .property-text{
    font: 13px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.property-text{
    font-weight: normal;
}

.table{
    margin-top:20px;
}

.table-item.wide{
    padding-bottom:18.3px;
}

.property-label{
    display: inline-block;
    width:35%;
}

.property-text{
    display: inline-block;
}

.list-mark{
    vertical-align: middle;
    float: left;
    width:20px;
}

.list-year{
    vertical-align: middle;
    text-align: center;
    float:left;
    width:100px;
}

.list-content{
    float:left;
}

.panel .list-content{
    width: 55%;
}
.panel.left-panel .list-content{
    width:70.5%;
}

.list-year h3, .list-content h3, .list-content h4{
    margin: 0px;
    color: black;
    font-size: 15.6px;
    font-weight: 100;
}

.list-content h3{
    color: #ef4541;
}

.list-content h4{
    font-weight: bold;
}

.list-content p{
    margin: 0px;
    color:black;
    font-size: 14.3px;
}

.progress{
    margin-left: 10%;
    display: inline-block;
    width:50%;
}

.progress-bar{
    position: relative;
    height: 15px;     
    background-color: #dbdbdb
}

.progress-status{
    height: 100%;
    position: absolute;
    background-color:#ef4541;
}

.diamond {
    width: 15px;
    height: 15px;
    background: #ef4541;
    margin: 4px 5px 10px 10px;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.footer-item{
    width:32%;
    display:inline-block;
}

.rounded-img{
    display: inline-block;
    border:1px white;
    border-radius: 50%;
}

.footer-img{
    width:33.3px;
    height: 33.3px;
}

.footer-text{
    vertical-align: middle;
    font: bold 18.5px serif; 
}

.main-footer{
    margin-top:3%;
    height: 100px;
    text-align: center;
}

.clearfix{
    clear: left;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

