html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  background: url(img/background.jpg);
  font-family: 'PT Sans', Arial, 'Myriad Pro Bold', sans-serif;
}
.simple-text {
  color: black;
  margin: 0px;
}
.paragraph-text {
  font-size: 13px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin: 0px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  color: black;
  margin: 0px;
  word-wrap: break-word;
}
label {
  color: black;
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
}
a {
  color: black;
  margin: 0px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-container {
  margin-top: 40px;
  flex: 1 0 auto;
}
.main-container {
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: 826.667px;
  padding-top: 70px;
  padding-bottom: 60px;
  box-shadow: 5px 8px 15px #646464;
}
.content {
  margin-right: 45px;
}
.row {
  margin-left: 30px;
}
.custom-header {
  background-color: #ef4541;
  height: 150px;
}
.header-left-column {
  background-color: #ef4541;
  height: 150px;
  margin-left: -45px;
  float: left;
  width: 45%;
}
.header-image {
  margin-top: 6%;
  background: white;
  margin-left: 45px;
  width: 70%;
  height: 85%;
}
.header-center-column {
  margin-top: 70px;
  float: left;
  margin-left: 2%;
}
.header-center-column h1 {
  font-size: 34px;
  font-weight: bold;
}
.header-center-column h2 {
  font-size: 27px;
  color: #ef4541;
  font-weight: normal;
}
.panel.personal-margin {
  margin-top: 80px;
}
.panel {
  margin-bottom: 20px;
}
.panel-header {
  padding: 3px 0px 3px 12px;
  background: #dbdbdb;
}
.panel-header h3 {
  font-size: 13px;
  font-weight: bold;
}
.panel-content {
  margin-top: 20px;
}
.panel-content .row {
  margin-left: -15px;
}
.panel-content.about-margin {
  margin-top: 0px;
}
.about-text {
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
}
input[type="text"] {
  color: black;
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
  font-weight: normal;
  background: white;
  border: none;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.table-item {
  padding-bottom: 15px;
}
.diamond {
  content: "";
  float: left;
  width: 15px;
  height: 15px;
  background: #ef4541;
  margin: 5px 5px 10px 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.list-text {
  font-size: 15.54px;
}
.list-year {
  vertical-align: middle;
  text-align: center;
}
.list-year h4 {
  font-size: 15.54px;
  font-weight: bold;
}
.list-content h4 {
  color: #ef4541;
  font-size: 15.54px;
  font-weight: normal;
}
.list-content h5 {
  font-size: 15.54px;
  font-weight: bold;
}
.list-content p {
  font-size: 15.54px;
  font-weight: normal;
}
.progress {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #dbdbdb;
}
.progress-bar.progress-bar-danger {
  background-color: #ef4541;
}
.footer {
  overflow: auto;
  margin-top: 20px;
}
.footer.row {
  margin-right: 30px;
}
.footer a:before {
  vertical-align: middle;
  background-size: 33.3px 33.3px;
  display: inline-flex;
  width: 33.3px;
  height: 33.3px;
  content: "";
}
.footer .left {
  text-align: left;
}
.footer .left a:before {
  background-image: url(img/twitter-logo.png);
}
.footer .center {
  text-align: center;
}
.footer .center a:before {
  background-image: url(img/phone-logo.png);
}
.footer .right {
  text-align: right;
}
.footer .right a:before {
  background-image: url(img/mail-logo.png);
}
.footer .footer-text {
  vertical-align: middle;
  font-weight: bold;
  font-size: 18.5px;
}
footer {
  margin-top: 3%;
  flex: 0 0 auto;
  height: 50px;
  text-align: center;
}
footer .footer-link {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background: url(img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 50px;
}
.width20 {
  width: 20%;
}
.width30 {
  width: 30%;
}
.width40 {
  width: 40%;
}
.width50 {
  width: 50%;
}
.width60 {
  width: 60%;
}
.width70 {
  width: 70%;
}
.width80 {
  width: 80%;
}
.width90 {
  width: 90%;
}
.width100 {
  width: 100%;
}
.clearfix {
  clear: left;
}
