body{
    padding-top:3%;
    background: url(background.jpg);
}

.main-container{
    background: white;
    margin-left:15%;
    margin-right:15%;
    padding-top:5%;
    padding-bottom: 3%;
    box-shadow: 5px 8px 15px rgb(100,100,100);
}

.content{
    margin-left:8%;
    margin-right:8%;
}

.header-panel{
    margin-bottom:20px;
}

.header-label{
    background-color: red;
    margin-left:-9.5%;
    float:left;
    width: 9.5%;
    height: 160px;
}

.header-left-column{
    background-color: red;
    float: left;
    width:20%;
    height: 160px;
}

.header-center-column{
    float:left;
    margin-left:2%;
    width:33%;
}

.header-right-column{
    float: left;
    margin-left:5%;
    width:39%;
}

.header-image{
    margin-top:15px;
    background: url(photo.jpg);
    background-size: contain;
    width: 130px;
    height: 130px;
}

.header-space{
    height: 64px;
    width: 100%;
}

.header-info{
    float:left;
    width:60%;
}

.header-center-column h1{
    margin-top:0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.header-center-column h2{
    margin: 0px;
    font-family: sans-serif;
    font-size: 20px;
    color: red;
    font-weight: 100;
}

.panel{
    margin-bottom:10%;
}

.left-panel{
    float: left;
    width:55%;
}

.right-panel{
    float: left;
    margin-left:5%;
    width:39%;
}

.panel-header{
    padding:3px 0px 3px 10px;
    background: #dcdcdc;
}

.panel-header h6{
    margin: 0px;
    font: bold 100% sans-serif;
}

.panel-content{

}
.panel-content p{
    margin-top:3px;
}

.about-text{
    font-family: serif;
    font-size: 15px;
    font-weight: bold;
}

.table{
    margin-top:30px;
}

.wide{
    padding-bottom:10px;
}   

.property-label{
    display: inline-block;
    width:35%;
    font: bold 15px serif;
}

.property-text{
    display: inline-block;
    margin-left: 5%;
    width:55%;
    font: 12px sans-serif;
}

.list-mark{
    content:'';
    float: left;
    width:8%;
}

.list-year{
    text-align: center;
    float:left;
    width:35%;
}

.list-content{
    float:left;
    width:57%;
    clear: right;
}

.list-year h3{
    margin: 0px;
    color: black;
    font-size: 20px;
    font-weight: 100;
}

.list-content h3{
    margin: 0px;
    color: red;
    font-size: 20px;
    font-weight: 100;
}

.list-content h4{
    margin: 0px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.list-content p{
    margin: 0px;
    color:black 
}

.progress{
    margin-left: 10%;
    display: inline-block;
    width:50%;
}

.progress-bar{
    position: relative;
    height: 15px;     
    background-color: lightgray
}

.progress-status{
    height: 100%;
    position: absolute;
    background-color:red;
}

.diamond {
    width: 15px;
    height: 15px;
    background: red;
    margin: 7px 5px 10px 10px;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.footer{
    margin-left:8%;
    margin-right:8%;
}

.footer-item{
    width:32%;
    display:inline-block;
}

.rounded-img{
    display: inline-block;
    border:1px white;
    border-radius: 50%;
}

.footer-img{
    width:25px;
    height: 25px;
}

.footer-text{
    font: bold 100% serif; 
}

.main-footer{
    margin-top:3%;
    height: 100px;
    text-align: center;
}

.clearfix{
    clear: left;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

